.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /* width: fit-content; */
  padding: 5px 25px 5px 25px;
  border-radius: 4px;
  vertical-align: middle;
  color: white;
  background: #126783;
  border: 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
}
.button:hover {
  background: #023047;
  color: white;
  cursor: pointer;
}
